{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Frequently Asked Questions</h1>
        <h2 class="govuk-heading-m">Getting started</h2>
        <h2 class="govuk-heading-s">What is TDR for court judgment?</h2>
        <p class="govuk-body">Transfer Digital Records (TDR) is The National Archives’ (TNA) digital transfer service that helps Public Record Bodies prepare and transfer their selected digital public records to TNA for permanent publication.</p>
        <p class="govuk-body">For those involved in court judgments, this service is used to transfer approved final court judgments to TNA for publication.</p>
        
        <h2 class="govuk-heading-s">How does court judgment work?</h2>
        <p class="govuk-body">Court clerks and judges upload approved final court judgements as Microsoft Word documents which are then checked for suitability. If the file checks are successful, the files are then exported and published on The National Archives website.</p>
        <p class="govuk-body">Once exporting begins, TNA takes formal custody and becomes legally responsible for the court judgment.</p>
       
        <h2 class="govuk-heading-s">My password does not work</h2>
        <p class="govuk-body">If your password does not work or you forget your password and need to reset it, please contact <a href="mailto:tdr@nationalarchives.gov.uk">tdr@nationalarchives.gov.uk.</a></p>
        
        <h2 class="govuk-heading-s">What browsers are supported?</h2>
        <p class="govuk-body">We do not support Internet Explorer (IE11). We advise you to use a different browser to ensure you can use this service and all of its features such as Chrome, Safari or Firefox.</p>

        <h2 class="govuk-heading-s">My Microsoft Authentication App did not give me a one-time code</h2>
        <p class="govuk-body">In the app, click on the account and you should see a one-time passcode being generated every 30 seconds.</p>

        <h2 class="govuk-heading-s">When using the Microsoft Authentication App, configuration has failed - what should I do?</h2>
        <p class="govuk-body">If the Authentication app fails to configure with your phone, you should delete your account and try again. How to delete the account depends on the type of phone you are using.</p>
        <p class="govuk-body">For Android:</p>
        <ol class="govuk-body">
            <li>Open the Authenticator app on the device and tap Generate code.</li>
            <li>In the Generate code screen, press and hold the account you want to remove.</li>
            <li>When prompted, tap remove.</li>
        </ol>
        <p class="govuk-body">For iOS:</p>
        <ol class="govuk-body">
            <li>Open the Authenticator app on the device and tap Generate code.</li>
            <li>In the Generate code screen, swipe the account you wish to remove to the left.</li>
        </ol>

        <h2 class="govuk-heading-s">I can’t use my phone camera to scan the QR code</h2>
        <p class="govuk-body">iOS device users may need to enable the camera in Settings. Alternatively, any device user can manually enter the 9-digit code and URL shown beneath the QR code into the app.</p>

        <h2 class="govuk-heading-m">The upload process</h2>
        <h2 class="govuk-heading-s">What file formats are accepted?</h2>
        <p class="govuk-body">We only accept Microsoft Word documents (.docx). We cannot accept files that are password protected or encrypted.</p>

        <h2 class="govuk-heading-s">Why can’t I drag and drop or upload a file?</h2>
        <p class="govuk-body">This may happen for several reasons. To try to resolve this issue, first check if your internet connection is strong and stable. It may also help to refresh the page (though this might mean you have to begin the transfer process again). You can also check your file is not corrupted or damaged by opening it on your computer. If you still cannot upload your file, please contact <a href="mailto:tdr@nationalarchives.gov.uk">tdr@nationalarchives.gov.uk.</a>.</p>

        <h2 class="govuk-heading-s">Can I upload multiple files?</h2>
        <p class="govuk-body">No, you can only upload a single file per consignment. This file must be a court judgment in the form of a Microsoft Word document.</p>

        <h2 class="govuk-heading-s">Can I upload folders?</h2>
        <p class="govuk-body">You cannot upload folders. You can only upload a single file.</p>

        <h2 class="govuk-heading-s">Can I upload a file via OneDrive/ Google Drive/ Sharepoint?</h2>
        <p class="govuk-body">[need answer]</p>

        <h2 class="govuk-heading-s">I want to upload additional documents alongside a court judgment</h2>
        <p class="govuk-body">This service is just for uploading court judgments. If you would like to add supplementary material, email the documents to <a href="mailto:judgments@nationalarchives.gov.uk">judgments@nationalarchives.gov.uk</a>, quoting the transfer reference which you will find once you have clicked to export your court judgment.</p>

        <h2 class="govuk-heading-s">My court judgment has not yet been approved by a judge, can I still upload it?</h2>
        <p class="govuk-body">No, we can only accept approved final court judgments.</p>

        <h2 class="govuk-heading-s">What must the court judgment contain in order to be published?</h2>
        <p class="govuk-body">A court judgment must contain the following:</p>
        <ul class="govuk-body">
            <li>Name(s) of judge(s)</li>
            <li>Names of parties </li>
            <li>Judgment date</li>
            <li>Neutral citation </li>
            <li>Case reference(s)</li>
        </ul>

        <h2 class="govuk-heading-s">What is a neutral citation?</h2>
        <p class="govuk-body">Neutral citations make it easier to find court judgments in online resources, such as BAILII. The abbreviation indicates the court in which the case was heard, and the number indicates the case number.</p>

        <h2 class="govuk-heading-s">The session timed out before I completed the upload process</h2>
        <p class="govuk-body">A session can time out during the upload process if your internet connection is weak. If your file was not uploaded successfully, you must begin the process again. To avoid the session timing out, please ensure you have a strong, stable internet connection.</p>

        <h2 class="govuk-heading-s">What happens if I close my browser accidentally during upload?</h2>
        <p class="govuk-body">If you close your browser during upload, your file may not be uploaded successfully. You will need to return to the start and begin the upload process again.</p>

        <h2 class="govuk-heading-s">What do the checks that are being carried out mean?</h2>
        <p class="govuk-body">During upload, your file is checked to ensure it can be transferred to The National Archives. These checks include antivirus checks, file format identification and validating data integrity.</p>

        <h2 class="govuk-heading-s">What happens if my files fail?</h2>
        <p class="govuk-body">If you receive a notification that your file has failed on the upload page after the checks, please check the following:</p>
        <ul class="govuk-body">
            <li>Your internet connection</li>
            <li>That your file is a Microsoft Word document (.docx)</li>
            <li>That your file is not corrupted</li>
        </ul>
        <p class="govuk-body">Please then try again. If your file still fails, please contact us.</p>

        <h2 class="govuk-heading-s">When my court judgment has been successfully checked, does that mean it has been transferred?</h2>
        <p class="govuk-body">Once your court judgment has been checked, you will be prompted to export the file. This begins the process of transferring the court judgment to TDR. We will notify you when the file has been accepted and published.</p>

        <h2 class="govuk-heading-s">Why do I need to take note of the transfer reference number?</h2>
        <p class="govuk-body">If there is a problem with a court judgment or you need to check the status of a court judgment, you must quote the corresponding transfer reference number so we can locate the correct court judgment and assist you.</p>

        <h2 class="govuk-heading-s">Do I need to wait for a notification before I upload another court judgment?</h2>
        <p class="govuk-body">No, once you have uploaded and transferred one court judgment, you may upload another.</p>

        <h2 class="govuk-heading-s">What happens if there is an editorial error in my court judgment?</h2>
        <p class="govuk-body">Court judgments do not undergo editorial checks during the upload process. This is handled by a separate process and team. If there are any errors, you will be notified directly by the editorial team. If you are aware of any errors before upload, please amend the court judgment before attempting to upload. If you notice an error after the court judgment has been uploaded and transferred, please contact <a href="mailto:tdr@nationalarchives.gov.uk">tdr@nationalarchives.gov.uk</a>.</p>

        <h2 class="govuk-heading-m">General</h2>

        <h2 class="govuk-heading-s">Who can I contact if I have a query?</h2>
        <p class="govuk-body">Please contact [email address] if your query is regarding the upload or transfer process, the status of your transfer or to report an error or issue you have encountered. You can also contact us if you have more general queries around file format.</p>

        <h2 class="govuk-heading-s">I have not received an email that my court judgment has been published</h2>
        <p class="govuk-body">This process can take up to [number] days. If you do not receive an email after this time, please contact [email address].</p>

        <h2 class="govuk-heading-s">Can I share my sign-in information?</h2>
        <p class="govuk-body">To use this service, you must do so using personal sign-in information. You must not share this information with anyone else. Please keep your details safe and secure.</p>

        <h2 class="govuk-heading-s">When using TDR, how secure are my court judgments?</h2>
        <p class="govuk-body">Security is a critical consideration for TDR. Throughout development we have followed NCSC guidance on securing cloud-based services and applying the Center for Internet Security controls. We also conduct regular threat modelling exercises following the STRIDE approach and we will be engaging independent penetration testers before launching the service. We have engaged early with NCSC Technical Security Architects and have acted upon any recommendations they have made, and we will be asking NCSC to review the service again before we move into a public beta phase. In addition, we follow the GDS design standards and have held, and passed, an Alpha GDS internal assessment.</p>
    </div>
</div>
{% endblock %}