{% extends "layout.html" %}

{% block pageTitle %}
  Checking your document
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Step 4 of 5</span>
      <h1 class="govuk-heading-l">
        Checking your upload
      </h1>

      <form class="form" action="/upload-confirmation" method="post">
        
        <p class="govuk-body">Please wait whilst your court judgment is being checked for errors. This may take a
          few minutes. Once your record has been checked you will be redirected automatically.
        </p>

      </form>

    </div>
  </div>

<script>
  function pageRedirect() {
      window.location.replace("/upload-confirmation");
  }      
  setTimeout("pageRedirect()", 10000);
</script>

{% endblock %}