{% extends "layout.html" %}

{% block pageTitle %}
  Transfer agreement
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Step 2 of 5</span>
      <h1 class="govuk-heading-l">Transfer agreement</h1>

      <p class="govuk-body" style="margin-bottom: 0px">Please confirm that the judgment contains the required information within.
        This avoids TNA returning for information if this is identified as missing at a later stage.</p>

      <form class="form" action="/upload" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  Judge/s
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                  Court
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  Judgment date
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-4" name="waste" type="checkbox" value="lalala">
                <label class="govuk-label govuk-checkboxes__label" for="waste-4">
                  Neutral citation
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="improved-hint">
            <p class="govuk-body" style="margin-bottom: 0px;">
              Is this judgment approved?
            </p>
            <div class="govuk-radios govuk-radios--inline govuk-radios--small">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="improved" name="improved" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="improved">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="improved-no" name="improved-no" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="improved-no">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="published-hint">
            <p class="govuk-body" style="margin-bottom: 0px;">
              Is permission given for this judgment to be published?
            </p>
            <div class="govuk-radios govuk-radios--inline govuk-radios--small">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="published" name="published" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="published">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="published-no" name="published-no" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="published-no">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">Continue</button>
          <a class="govuk-link govuk-link--no-visited-state" href="/dashboard">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
