{% extends "layout.html" %}

{% block pageTitle %}
Check your file before uploading
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Step 1 of 3</span>
      <h1 class="govuk-heading-l">Check your file before uploading</h1>

      <p class="govuk-body govuk-!-margin-bottom-1">Your upload must contain the following information:</p>
      <p class="govuk-body">neutral citation, name(s) of judges(s), name(s) of parties, court, and judgment date.</p>
<h2 class="govuk-heading-s">Select <a href="judgments@nationalarchives.gov.uk">judgments@nationalarchives.gov.uk</a> to generate an automatic email, with the transfer reference included, in order to:</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Attach and send supplementary material for this judgment.</li>
        <li>Flag when your judgment is a new version; quote the details of the original document being replaced.</li>
        <li>Flag when your judgment is subject to an anonymisation order.</li>
      </ul>
  
        <div class="govuk-button-group">
          <a href="upload.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Continue
          </a>
          <a class="govuk-link govuk-link--no-visited-state" href="/dashboard">Cancel</a>
        </div>

    </div>
    <div class="govuk-grid-column-one-third">
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Transfer reference
          </span>
        </summary>
        <div class="govuk-details__text">
          MOCK-123-CJ
        </div>
      </details>
  </div>
  </div>

{% endblock %}
