{% extends "layout.html" %}

{% block pageTitle %}
  Transfer agreement
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Step 2 of 5</span>
      <h1 class="govuk-heading-l">Transfer agreement</h1>

      <p class="govuk-body" style="margin-bottom: 0px">Please confirm that the judgment contains the following information within the text. </p>

      <form class="form" action="/upload" method="post">

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            We cannot publish the judgment without this information: Name(s) of judge(s), name of parties, court, judgement date, neutral citation, case reference(s).
          </strong>
        </div>

        <p class="govuk-body" style="margin-bottom: 0px">In addition, if your transfer has supplementary material then email us on <a href="tdr@nationalarchives.gov.uk">tdr@nationalarchives.gov.uk</a></p>
        <br>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="published-hint">
            <p class="govuk-body" style="margin-bottom: 0px;">
              Are there any reporting restrictions for this judgement?
            </p>
            <div class="govuk-radios govuk-radios--inline govuk-radios--small">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="published" name="published" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="published">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="published-no" name="published-no" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="published-no">
                  No
                </label>
              </div>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="event-name">
                If yes, please provide more information
              </label>
              <input class="govuk-input" id="event-name" name="event-name" type="text"></div>

          </fieldset>
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">Continue</button>
          <a class="govuk-link govuk-link--no-visited-state" href="/dashboard">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
