{% extends "layout.html" %}

{% block pageTitle %}
  File level descriptive metadata
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Add, edit or delete descriptive data on file basis</h1>
      <p class="govuk-body">You can now modify descriptive data to individual files or folders. You can also delete individual files from this consignment if needed.</p>
      <p class="govuk-body">Click on a particular file or folder to see what metadata is already captured and add, edit or delete properties there. For a bulk edit, first select files and/or folders and then choose an action from the menu.</p>

      <a href="add-closure-bulk.html" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
        Add closure
      </a>
      <a href="#" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
        Add properties
      </a>
      <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary"  data-module="govuk-button">
        Delete file(s)
      </a>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Folder uploaded: Recipes and ingredients</caption>
        <input type="text" class="app-site-search__link" placeholder="search...">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                  Subfolder-Lemon-drizzle
                </label>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                  Subfolder-Chocolate-banana-bread
                </label>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                  Banana.doc
                </label>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                  Cacao-powder.png
                </label>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                  Chocolate-bun.jpeg
                </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <a href="additional-metadata.html" role="button" draggable="false" class="govuk-button govuk-button--secondary"  data-module="govuk-button">
        Back to overview
      </a>

    </div>
  </div>
{% endblock %}
